@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans&subset=latin,latin-ext);
html { 
  font-family: 'Quattrocento Sans', sans-serif;
  background: white;
}
h1 { text-transform: uppercase }
h1, h2 { 
	font-weight: normal; 
	font-size: 16px;
}

body {margin: 0}
body > article {
  line-height: 1.6em;
  display: block;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 10px 0;
}

p.post_entry {  
}

a { color:#1DAEDF; text-decoration:none; }
a:hover { text-decoration: underline; }
li.post_list {
  list-style-type: none;
  padding: 0px 10px;
  background: #F2F2F2;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}

/* Sidebar */
aside {
  width: 220px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 30px;
  background-image: url(http://i.imgur.com/5nwPL.png);
  color: white;
  box-shadow: 0 0 3px black;
  overflow-y: scroll;
}
aside > hr {
  margin: 0; clear: both;
  border: 0; height: 0;
}
aside > ul {
  list-style-type: none;
  padding: 0px 10px;
}

#avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 40px 0;
  box-shadow: 0 0 0 2px #1DAEDF;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0 0 0 2px white;
}