<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="{{ AUTHOR }}">

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/notebook.css" type="text/css" />
  <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico">

  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
  {% if FEED_RSS %}
  <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
</head>

<body>
  <!-- Sidebar -->
  <sidebar>
    <p><a href="{{ SITEURL }}"><img id="avatar" src="{{ SITEURL }}/theme/images/avatar.png"></a></p>
    <p>{{ SIDEBAR_DIGEST }}</p>
    <hr>
    <h1>Social</h1>
    <ul class="social">
      {% for name, link in SOCIAL %}
      <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
      <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate"><i class="icon-bookmark icon-large"></i>Atom feed</a></li>
      {% if FEED_RSS %}
      <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">RSS feed</a></li>
      {% endif %}
    </ul>
    <ul class="navbar">
      {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU and PAGES %}
      <h1>Pages</h1>
      {% for p in PAGES %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
      {% endif %}
      {% if categories %}
      <h1>Categories</h1>
      {% for cat, null in categories %}
      <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
      {% endif %}
    </ul>
  </sidebar>

  <!-- Content -->
  <content>
    {% block content %}
    {% endblock %}
  </content>

  <!-- Footer -->
  <footer>
    <address id="about" class="vcard body">
      Blog powered by <a href="http://getpelican.com/">Pelican</a>, 
      which takes great advantage of <a href="http://python.org">Python</a>.
      Theme <a href="https://github.com/quack1/notebook/">Notebook</a> by <a href="https://twitter.com/_Quack1">@Quack1</a>.
    </address>
  </footer>

  {% if GOOGLE_ANALYTICS %}
  <!-- Analytics -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  {% endif %}

</body>
</html>